.btn {
  text-decoration: none;

  &-primary {
    color: white;
    background-color: $color-wa-green;
    border: 1px solid $color-wa-green;

    &:hover {
      background-color: $color-wa-green-active;
      border-color: $color-wa-green-active;
      outline: 2px solid $color-wa-green-light;
    }
  }

  &-with-icon {
    &-left {
      & > img, & > .icon, & > svg, & > i, & > .icon {
        margin-right: 3px;
      }
    }

    &-right {
      & > img, & > .icon, & > svg, & > i, & > .icon  {
        margin-left: 3px;
      }
    }
  }
}