.btn {
  text-decoration: none;

  & > span {
    width: 0;
    overflow: hidden;
    position: absolute;
  }

  @media (min-width: 1010px) {
    & span {
      width: auto;
      position: relative;
    }
  }

  &-primary {
    color: white;
    background-color: $color-wa-green;
    border: 1px solid $color-wa-green;

    &:hover {
      background-color: $color-wa-green-active;
      border-color: $color-wa-green-active;
      outline: 2px solid $color-wa-green-light;
    }
  }

  &-icon-only {
    color: $color-wa-bg-dark !important;
    background-color: transparent !important;
    outline: none !important;
    border: none !important;

    &:hover {
      color: $color-wa-bg-active !important;
    }

    & > span {
      width: 0 !important;
      overflow: hidden !important;
      position: absolute !important;
    }

    &:focus {
      background-color: $color-wa-green-active !important;
      outline: 2px solid $color-wa-green-light !important; 
    }

  }

  &-border {
    border: 2px solid $color-wa-bg-active !important;
  }

  &-with-icon {
    &-left {
      & > img, & > .icon, & > svg, & > i, & > .icon {
        margin-right: 3px;
      }
    }

    &-right {
      & > img, & > .icon, & > svg, & > i, & > .icon  {
        margin-left: 3px;
      }
    }
  }
}