.login {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  background-size: 140% 90%;
  background: linear-gradient(0deg, $color-wa-bg-black 60%, $color-wa-green 5%);

  header {
    padding-bottom: 3em;
    padding-top: 3em;

    img {
      width: 1.5em;
      height: 1.5em;
    }

    h1 {
      font-size: 1.5em;
      margin: 0;

      & a:hover {
        text-decoration: none;
      }
    }

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $color-white  !important;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  main {
    overflow: auto;
    color: $color-wa-green-dark;
    max-height: 100%;

    h2 {
      font-size: 2em;
    }
  }

  footer {
    background-color: $color-wa-green-light;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (min-width: 768px) {
      bottom: 0;
    }

    a {
      color: $color-wa-green-dark;
    }
  }

  & .box-form {
    box-shadow: 0 17px 50px 0 rgba(11, 20, 26, .19), 0 12px 15px 0 rgba(11, 20, 26, .24);
    background-color: white;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    height: fit-content;
    max-width: 1180px;
    overflow: hidden;

    @media (min-width: 768px) {
      margin: 2em 2em 5em 2em;
      border-radius: 8px;
    }

    &-box {
      margin-top: auto;
      margin-bottom: auto;
      width: 100%;

      & .img-feature {
        // width: 100%;
        max-width: 720px;
        // height: auto;

        height: 100%;
        width: 100%;
        object-fit: cover;
      }


      @media (min-width: 768px) {
        &-left {
          width: 66% !important;
        }

        &-right {
          width: 33% !important;
        }
      }
    }
  }

  & p {
    margin: 0;
  }

  & button {
    margin-right: 1em;
    margin-top: 0.5em;
  }

  & .remember-me--forget-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .remember-me--forget-password input {
    margin: 0;
    margin-right: 7px;
    width: auto;
  }

  & label {
    display: block;
    position: relative;
    margin-left: 30px;
  }

  & label::before {
    content: ' \f00c';
    position: absolute;
    font-family: FontAwesome;
    background: transparent;
    border: 3px solid #70F570;
    border-radius: 4px;
    color: transparent;
    left: -30px;
    transition: all 0.2s linear;
  }

  & label:hover::before {
    font-family: FontAwesome;
    content: ' \f00c';
    color: #fff;
    cursor: pointer;
    background: #70F570;
  }

  & label:hover::before .text-checkbox {
    background: #70F570;
  }

  label span.text-checkbox {
    display: inline-block;
    height: auto;
    position: relative;
    cursor: pointer;
    transition: all 0.2s linear;
  }

  label input[type="checkbox"] {
    display: none;
  }
}